@import '../../../../common/styles-constants.scss';
.courses {
    .courses-list__button {
        @extend .courses-list__empty-list;
        &:hover {
            cursor: pointer;
            background-color: #23486d;
        }
    }
    .courses-list__empty-list {
        background-color: $main-color-blue;
        margin-top: 10px;
        height: 40px;
        position: relative;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
