<app-search (searchEvent)="search($event)" (createCourseEvent)="createNewCourse()"></app-search>
<div class="courses">
    <div *ngIf="courses.length > 0">
        <app-course-item *ngFor="let course of courses | orderBy" 
        [course]="course" (deleteEvent)="deleteCourse($event)"
        (editEvent)="editCourse($event)">
        </app-course-item>
    </div>
    
    <div class="courses-list__empty-list" *ngIf="courses.length === 0">
        <span class="courses-list__content-empty">No Data, add new course</span>
    </div>
    
    <div class="courses-list__button" (click)="loadMoreCourses()"
    *ngIf="courses.length !== 0">
        <span class="courses-list__content-button">Load More</span>
    </div>
</div>
