
.loadMore {
    background-color: rgb(114, 112, 252);
    margin-top: 10px;
    height: 40px;
    position: relative;
    border-radius: 10px;
    color: white;
    margin-bottom: 30px;
}
.loadMore > span {
    position: absolute;
    top: 8px;
    left: 370px;
}
