<mat-form-field class="edit-course__input edit-course__input_small" (click)="onClick()">
    <input type="text" matInput 
    placeholder="Duration, min"
    value="duration"
    [(ngModel)]="duration"
    [errorStateMatcher]="matcher"
    required
    >
    <span matSuffix *ngIf="!control.hasError('invalidError')">{{duration | duration}}</span>
    <mat-error *ngIf="control.hasError('required')">Duration is <strong>required</strong></mat-error>
    <mat-error *ngIf="control.hasError('invalidError')">Duration is <strong>not valid</strong></mat-error>
</mat-form-field>
