.footer {
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(233, 232, 232);
    z-index: 10;
}
.footer__content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}