@import '../../../../common/styles-constants.scss';
.login {
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    background-color: $back-color-white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login__name {
        font-weight: 600;
        font-size: $font-size-large;
        align-self: center;
        padding-bottom: 5px;
        cursor: pointer;

        &_selected {
            border-bottom: 1px solid;
            border-color: $main-color-blue;
        }
    }
    .login__input {
        margin-top: 10px;
        align-self: center;
    }
    .login__button {
        @include button();
        margin-top: 10px;
        align-self: center;
    }
    .login__button_disabled {
        background-color: $background-color;
        color: black;
        &:hover {
            background-color: $background-color;
        }
    }
}
