.field {
    padding-top: 70px;
}
.login {
    margin: 0 auto;
    height: 230px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.login__name {
    display: block;
    margin-left: 120px;
    font-weight: 600;
    font-size: large;
}
.login__input {
    margin: {
        left: 60px;
        top: 10px;
    }
}
.login__button {
    background-color: #2a5885;
    padding: 5px;
    margin: {
        top: 10px;
        left: 100px;
    };
    color: white;
    border: none;
    font-size: 12pt;
    width: 100px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}
