@import '../../../../common/styles-constants.scss';
.popup {
    position: relative;
    .popup__button {
        @include button();
        position: absolute;
        margin-top: 20px;
    }
    .popup__button_no {
        left: 200px;
    }
    .popup__button_yes {
        left: 90px;
    }
    .popup__content {
        font-weight: 600;
        font-size: $font-size-large;
    }
}
