@import '../../../../common/styles-constants.scss';
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .popup__buttons {
        display: flex;
        .popup__button {
            @include button();
            margin: 20px;
            margin-bottom: 0;
            @media (max-width: 500px) {
                margin: 5px;
                margin-bottom: 0;
            }
        }
    }
    .popup__content {
        font-weight: 600;
        font-size: $font-size-large;
        @media (max-width: 500px) {
            font-size: $font-size-large-mobile;
        }
    }
}
