.search-panel {
    position: relative;
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.search-panel__button {
    background-color: #2a5885;
    margin-right: 5px;
    padding: 5px;
    color: white;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}
.search-panel__input {
    width: 300px;
    height: 28px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.search-panel__button_right {
    float: right;
}
.search-panel__button:hover {
    cursor: pointer;
}
