@import '../../../../common/styles-constants.scss';
.search-panel {
    margin-top: 10px;
    background-color: $back-color-white;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-panel__button {
        @include button();
    }
    .search-panel__input {
        width: 300px;
        height: 28px;
        border: none;
        border-radius: 5px;
        outline: none;
        border-bottom: solid 1px $main-color-blue;
        @media (max-width: 500px) {
            width: 230px;
        }
    }
    .search-panel__button_right {
        margin-right: 5px;
    }
}
