<div appBorderColor [date]="course.date" [ngClass]="course.topRated ? 'topRated' : 'course'">
    <span class="id">{{course.title}} </span>
    <span class="star" *ngIf="course.topRated">★</span>
    <div class="description">{{course.description}} </div>
    <span class="date">Date: {{course.date}} </span>
    
    <span class="duration">Duration: {{course.duration | duration}}</span>
    
    <span class="button edit" (click)="edit()">Edit</span>
    <span class="button delete" (click)="delete(course.id)">Delete</span>
</div>
