.course-item {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px;
    }
}
.course-item__title {
    font-weight: 600;
    font-size: large;
    margin-top: 10px;
}

.course-item__date, .course-item__duration {
    position: absolute;
    top: 10px;
}
.course-item__date {
    left: 400px;
}
.course-item__button {
    position: absolute;
    padding: 5px;
    background-color: #2a5885;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.course-item__button_edit {
    right: 10px;
    top: 25px;
}
.course-item__button_delete {
    right: 10px;
    top: 65px;
}
.course-item__duration {
    left: 400px;
    top: 30px;
}
.course-item__description {
    height: 60px;
    margin-top: 15px;
    width: 650px;
}
.course-item__top {
    font-size: 25px;
    position: absolute;
    left: 135px;
    top: 3px;
}
.course-item-top {
    margin-top: 10px;
    background-color: azure;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px;
    }
}
