@import '../../../../common/styles-constants.scss';
.course-item {
    margin-top: 10px;
    background-color: $back-color-white;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    font-size: $font-size-standart;
    min-height: 102px;
    @media (max-width: 500px) {
        font-size: $font-size-standart-mobile;
        padding-bottom: 0;
    }
    &:hover {
        box-shadow: 0 0 8px;
    }
    .course-item__title {
        font-weight: 600;
        font-size: $font-size-large;
        display: inline-block;
        word-break: break-all;
        @media (max-width: 500px) {
            font-size: $font-size-large-mobile;
        }
    }
    .course-item__container {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        @media (max-width: 500px) {
            flex-flow: column;
        }
    }
    .course-item__date, .course-item__duration {
        @include button();
        height: 21px;
        width: 175px;
        background-color: $background-color;
        color: black;
        &:hover {
            background-color: $background-color;
            cursor: text;
        }
        @media (max-width: 500px) {
            width: auto;
            margin-bottom: 10px;
        }
    }
    .course-item__button {
        @include button();
        width: 175px;
        @media (max-width: 500px) {
            width: auto;
            margin-bottom: 10px;
        }
    }
    .course-item__duration {
        @extend .course-item__date;
    }
    .course-item__description {
        margin-top: 15px;
        word-break: break-word;
    }
    .course-item__top {
        font-size: 22pt;
        margin-left: 10px;
        display: inline-block;
        position: absolute;
        top: 2px;
    }
}
