@import '../../../../common/styles-constants.scss';
.course-item {
    margin-top: 10px;
    background-color: $back-color-white;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    font-size: $font-size-standart;
    height: 102px;
    &:hover {
        box-shadow: 0 0 8px;
    }
    .course-item__title {
        font-weight: 600;
        font-size: $font-size-large;
        display: inline-block;
    }
    
    .course-item__date, .course-item__duration {
        position: absolute;
        top: 10px;
    }
    .course-item__date {
        right: 120px;
        top: 25px;
        background-color: $background-color;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        width: 140px;
    }
    .course-item__button {
        @include button();
        position: absolute;
    }
    .course-item__button_edit {
        right: 10px;
        top: 25px;
    }
    .course-item__button_delete {
        right: 10px;
        top: 65px;
    }
    .course-item__duration {
        @extend .course-item__date;
        top: 65px;
    }
    .course-item__description {
        height: 60px;
        margin-top: 15px;
        width: 500px;
        word-break: normal;
        overflow: overlay;
    }
    .course-item__top {
        font-size: 22pt;
        margin-left: 10px;
        display: inline-block;
        position: absolute;
        top: 2px;
    }
}
