<div appBorderColor [date]="course.date" class="course-item">
    <span class="course-item__title">{{course.title}} </span>
    <div class="course-item__top" *ngIf="course.topRated">★</div>
    <div class="course-item__description">{{course.description}} </div>
    <span class="course-item__date">Date: {{course.date}} </span>
    
    <span class="course-item__duration">Duration: {{course.duration | duration}}</span>
    
    <span class="course-item__button course-item__button_edit" (click)="edit(course.id)">Edit</span>
    <span class="course-item__button course-item__button_delete"
    (click)="delete(course.id)">Delete</span>
</div>
