@import '../../../../common/styles-constants.scss';
.input_selectedAuthor {
    display: inline-block;
    border: solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.input_list {
    display: flex;
    border: solid 1px;
    height: 100px;
    width: 200px;
    margin-top: -20px;
}
.input_deleteAuthor {
    color: red;
    &:hover {
        cursor: pointer;
    }
}
.container {
    display: grid;
}