<div class="container">
    <mat-form-field class="edit-course__input" (click)="onClick()">
        <input
            type="text"
            matInput
            #input
            placeholder="Authors"
            [(ngModel)]="author"
            value="author"
            [matAutocomplete]="auto"
            (keyup)="search(input.value)"
            [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="control.hasError('noAuthors')">
            There must be <strong>at least one author</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('maxAuthors')">
            Maximum amount of authors <strong>is 2</strong>
        </mat-error>
        <div matPrefix>
            <div class="input_selectedAuthor" *ngFor="let authorObj of authorsList">
                <span class="input_author">{{ authorObj.fullName }}</span>
                <span class="input_deleteAuthor" (click)="deleteAuthor(authorObj.id)">⮿</span>
            </div>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="input.value.length > 2">
                <mat-option
                    *ngFor="let authorItem of authorsListSearch$ | async"
                    (click)="selectAuthor(authorItem)"
                >
                    {{ authorItem.fullName }}
                </mat-option>
            </div>
        </mat-autocomplete>
    </mat-form-field>
</div>
