.courses-content {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 30px;
    @media (max-width: 500px) {
        width: 100%;
        padding: 10px;
        padding-top: 90px;
    }
}
