header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #2a5885;
    z-index: 10;
    color: white;
}
#header {
    position: absolute;
}
#logo {
    font-size: larger;
    font-weight: 600;
}
#container {
    margin: 0 auto;
    height: 38px;
    width: 800px;
    padding-top: 10px;
    position: relative;
}
#logo {
    margin-top: 12px;
}
.login {
    margin-left: 460px;
}
.button {
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    color: black;
    position: absolute;
    text-align: center;
    right: 0;
}
