@import '../../../../common/styles-constants.scss';
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: $main-color-blue;
    z-index: 10;
    color: white;
    @media (max-width: 500px) {
        height: 80px;
        width: 100%;
    }
    .header__content {
        margin: 0 auto;
        height: 100%;
        width: 800px;
        position: relative;
        font-size: $font-size-standart;
        display: flex;
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    .header__logo {
        align-self: center;
        font: {
            size: $font-size-large;
            weight: 600;
        }
        padding-bottom: 5px;
        @media (max-width: 500px) {
            font-size: $font-size-large-mobile;
        }
    }
    .header__login {
        align-self: center;
        flex-grow: 1;
        text-align: end;
        padding-right: 50px;
        padding-bottom: 2px;
        @media (max-width: 500px) {
            font-size: $font-size-standart-mobile;
            padding-right: 10px;
        }
    }
    .header__button {
        @include button();
        &:hover {
            background-color: $background-color;
        }
        @media (max-width: 500px) {
            font-size: $font-size-standart-mobile;
        }
    }
    .header__button_color-white {
        background-color: white;
        margin-right: 10px;
        color: black;
        align-self: center;
    }
}
