.header__content {
    margin: 0 auto;
    height: 38px;
    width: 800px;
    padding-top: 10px;
    position: relative;
}
.header__logo {
    font-size: larger;
    font-weight: 600;
    margin-top: 12px;
}
.header {
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: #2a5885;
    z-index: 10;
    color: white;
}
.header__login {
    margin-left: 460px;
}
.header__button {
    border-radius: 5px;
    width: 100px;
    outline: none;
    padding: 5px;
    text-align: center;
}
.header__button_color-white {
    background-color: white;
    margin-right: 10px;
    color: black;
    position: absolute;
    right: 0;
}
.header__button {
    cursor: pointer;
}
