/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 800px;
    margin: 0 auto;
}
body {
    background-color: rgb(233, 232, 232);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
